<%= form_with model: [@campaign, @do_list] do |f| %>  
  
  <div class="form-group row mt-5">
        <%= f.label :title, class:"col-sm-2 col-form-label"  %>

    <div class="col-sm-10">
        <%= f.text_field :title, class: "form-control",placeholder:"Title"  %>
    </div>
  </div>
  <div class="form-group row mt-5">
        <%= f.label :description, class:"col-sm-2 col-form-label"  %>

    <div class="col-sm-10">
        <%= f.text_field :description, class: "form-control",placeholder:"Description"  %>
    </div>
  </div>
  
  <div class="form-group row mt-5">
        <%= f.label :completed, class: "col-sm-2 col-form-label" %>

    <div class="col-sm-10">
        <%= f.check_box :completed, class: "form-check-input mx-2" %>

    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
        <%= f.submit "Create" , class:"btn btn-info" %>      
    </div>
  </div>
<% end %>
